<div class="container">
  <h1> Create the new flat </h1>
  <%= simple_form_for @flat do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :price_per_night %>
    <%= f.input :number_of_guests %>
    <%= f.input :description %>
    <%= f.button :submit, class: "btn btn-primary mt-2" %>
  <% end %>

  <%= link_to "Back to home", flats_path, class: "btn btn-primary mt-4" %>
