<div class="container">
  <div class="row card">
    <h1> <%= @flat.name %> </h2>
    <p> <%= @flat.address %>
  </div>
  <div class="row card">
    <h3> A bit more about this flat...</h3>
    <p> <%= @flat.description %>
  </div>
  <div class="row card">
    <p>
      <i class="fa-solid fa-people-group"> </i> <%= @flat.number_of_guests %>
      <i class="fa-solid fa-euro-sign"></i> <%= @flat.price_per_night %>
    </p>
  </div>
  <div class="mt-3 mb-3">
    <%= link_to "Edit this flat", edit_flat_path(@flat), class: "btn btn-warning" %>
    <%= link_to "Delete", flat_path(@flat), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger" %>
  </div>
  <div>
    <%= link_to "Home", flats_path, class: "btn btn-primary"%>
  </div>
</div>
